body {
    background: -moz-linear-gradient(0deg, rgb(200, 208, 215), rgb(230, 235, 237));
    background: -webkit-linear-gradient(0deg, rgb(200, 208, 215), rgb(230, 235, 237));
    background: linear-gradient(0deg, rgb(200, 208, 215), rgb(230, 235, 237));
    background-repeat: no-repeat;
    color: #839496;
    font-family: 'Open Sans', Meiryo, sans-serif;
    padding-top: 100px !important;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
}
