
@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .header.scrolls.scrolled {
    background: rgba(44, 177, 190, 0.9);
    -webkit-backdrop-filter: blur(10px) saturate(3);
    backdrop-filter: blur(10px) saturate(3)
  }
}

.tw-color {
  color: #5da8dc !important
}

.git-color {
  color: #000 !important
}
