
@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
  .header.scrolls.scrolled {
    background: rgba(44, 177, 190, 0.9);
    -webkit-backdrop-filter: blur(10px) saturate(3);
    backdrop-filter: blur(10px) saturate(3)
  }
}

.brand-c.brand-colours.twitter {
  color: #5da8dc !important
}

.brand-colours.github {
  color: #000 !important
}

.brand-colours.reddit {
  color: #ff4500 !important
}
